InfluxDB pod in CrashLoopBackoff - need advice on how to debug

I have an otherwise blank and new 1.7.4 Kubernetes cluster that I created with kubeadm on 3 baremetal machines. I was attempting to add Heapster onto the cluster (akin to what can be found in minikube), and followed the instructions at https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md

The pod for influxDB is reporting "Error":

```console
NAME                                    READY     STATUS    RESTARTS   AGE
etcd-silver                             1/1       Running   0          20h
heapster-603813915-jhxbt                1/1       Running   0          31m
kube-apiserver-silver                   1/1       Running   0          20h
kube-controller-manager-silver          1/1       Running   0          20h
kube-dns-2425271678-wqxrm               3/3       Running   0          20h
kube-flannel-ds-02q5k                   2/2       Running   1          20h
kube-flannel-ds-bdqm5                   2/2       Running   0          20h
kube-flannel-ds-n2nbg                   2/2       Running   0          20h
kube-proxy-2w7pg                        1/1       Running   0          20h
kube-proxy-37czn                        1/1       Running   0          20h
kube-proxy-chcd5                        1/1       Running   0          20h
kube-scheduler-silver                   1/1       Running   0          20h
kubernetes-dashboard-3313488171-mpn5b   1/1       Running   0          20h
monitoring-grafana-2175968514-wkqv3     1/1       Running   0          31m
monitoring-influxdb-1957622127-stdd4    0/1       Error     11         31m
```

I used `kubectl --namespace=kube-system describe pod monitoring-influxdb-1957622127-stdd4` to get details, and the container looks like it was pulled successfully, but returned an error code when starting.

Events:
```console
Events:
  FirstSeen	LastSeen	Count	From			SubObjectPath			Type		Reason			Message
  ---------	--------	-----	----			-------------			--------	------			-------
  32m		32m		1	default-scheduler					Normal		Scheduled		Successfully assigned monitoring-influxdb-1957622127-stdd4 to shuttle
  32m		32m		1	kubelet, shuttle					Normal		SuccessfulMountVolume	MountVolume.SetUp succeeded for volume "influxdb-storage"
  32m		32m		1	kubelet, shuttle					Normal		SuccessfulMountVolume	MountVolume.SetUp succeeded for volume "default-token-q6vbd"
  32m		1m		12	kubelet, shuttle	spec.containers{influxdb}	Normal		Pulled			Container image "gcr.io/google_containers/heapster-influxdb-amd64:v1.3.3" already present on machine
  32m		1m		12	kubelet, shuttle	spec.containers{influxdb}	Normal		Created			Created container
  32m		1m		12	kubelet, shuttle	spec.containers{influxdb}	Normal		Started			Started container
  32m		10s		149	kubelet, shuttle	spec.containers{influxdb}	Warning		BackOff			Back-off restarting failed container
  32m		10s		149	kubelet, shuttle					Warning		FailedSync		Error syncing pod
```

using `kubectl --namespace=kube-system logs monitoring-influxdb-1957622127-stdd4`, I saw the error message:

```console
[I] 2017-09-10T20:21:49Z InfluxDB starting, version unknown, branch unknown, commit unknown
[I] 2017-09-10T20:21:49Z Go version go1.8.3, GOMAXPROCS set to 4
[I] 2017-09-10T20:21:49Z Using configuration at: /etc/config.toml

 8888888           .d888 888                   8888888b.  888888b.
   888            d88P"  888                   888  "Y88b 888  "88b
   888            888    888                   888    888 888  .88P
   888   88888b.  888888 888 888  888 888  888 888    888 8888888K.
   888   888 "88b 888    888 888  888  Y8bd8P' 888    888 888  "Y88b
   888   888  888 888    888 888  888   X88K   888    888 888    888
   888   888  888 888    888 Y88b 888 .d8""8b. 888  .d88P 888   d88P
 8888888 888  888 888    888  "Y88888 888  888 8888888P"  8888888P"

run: open server: listen: listen tcp 198.105.244.23:8088: bind: cannot assign requested address
```

So I've got that it can't bind to the address, but I'm not sure what I can do about it. I'm not clear on where the IP address that it's attempting to bind is coming from, and I'm not sure how to attach to the pod in it's error'd state to look at /etc/config.toml to see if there is any insight from reviewing that.

In case it helps, `cluster-info` returns:

```console
kubectl --namespace=kube-system cluster-info
Kubernetes master is running at https://192.168.0.201:6443
Heapster is running at https://192.168.0.201:6443/api/v1/namespaces/kube-system/services/heapster/proxy
KubeDNS is running at https://192.168.0.201:6443/api/v1/namespaces/kube-system/services/kube-dns/proxy
monitoring-grafana is running at https://192.168.0.201:6443/api/v1/namespaces/kube-system/services/monitoring-grafana/proxy
monitoring-influxdb is running at https://192.168.0.201:6443/api/v1/namespaces/kube-system/services/monitoring-influxdb/proxy
```

I've also created a gist with the full output of `cluster-info dump` at https://gist.github.com/heckj/b2efbfd0a1aa69558ab929912a91e403

Any suggestions for how to debug and help get this operational would be very welcome!

I'm really not sure where the IP address `198.105.244.23:8088` is coming from. I did a `docker pull gcr.io/google_containers/heapster-influxdb-amd64:v1.3.3` to get the image locally, and then looked at the contents in the image itself. When I run it locally on docker (i.e. `docker run -it --rm gcr.io/google_containers/heapster-influxdb-amd64:v1.3.3`) I get the identical error message:

```console
run: open server: listen: listen tcp 198.105.244.23:8088: bind: cannot assign requested address
```

Which makes me think the 198.105... address is built in somewhere, but I'm not spotting it. The entrypoint for the container is:

```console
"Entrypoint": [
                "influxd",
                "--config",
                "/etc/config.toml"
            ],
```

So I took at look at the contents in /etc/config.toml, but nothing matched that IP address. The contents of that /etc/config.toml I went ahead and placed into a gist for anyone else looking - https://gist.github.com/heckj/b0aa1f243c1eff766a8bf60a00137fcb

If I invoke influxDB directly within the container, not using the configuration, it appears to bind to localhost and start right up (at the default port 8088) - so I'm guessing that perhaps I need to inquire with the folks who make influxDB and see if they have any suggestions.

invoking the binary directly, I used `docker run -it --rm --entrypoint "/bin/sh" gcr.io/google_containers/heapster-influxdb-amd64:v1.3.3` and then just ran

`influxd` without the `--config /etc/config.toml`

and the results:
```console
 8888888           .d888 888                   8888888b.  888888b.
   888            d88P"  888                   888  "Y88b 888  "88b
   888            888    888                   888    888 888  .88P
   888   88888b.  888888 888 888  888 888  888 888    888 8888888K.
   888   888 "88b 888    888 888  888  Y8bd8P' 888    888 888  "Y88b
   888   888  888 888    888 888  888   X88K   888    888 888    888
   888   888  888 888    888 Y88b 888 .d8""8b. 888  .d88P 888   d88P
 8888888 888  888 888    888  "Y88888 888  888 8888888P"  8888888P"

[I] 2017-09-11T00:08:17Z InfluxDB starting, version unknown, branch unknown, commit unknown
[I] 2017-09-11T00:08:17Z Go version go1.8.3, GOMAXPROCS set to 2
[I] 2017-09-11T00:08:17Z no configuration provided, using default settings
[I] 2017-09-11T00:08:17Z Using data dir: /root/.influxdb/data service=store
[I] 2017-09-11T00:08:17Z opened service service=subscriber
[I] 2017-09-11T00:08:17Z Starting monitor system service=monitor
[I] 2017-09-11T00:08:17Z 'build' registered for diagnostics monitoring service=monitor
[I] 2017-09-11T00:08:17Z 'runtime' registered for diagnostics monitoring service=monitor
[I] 2017-09-11T00:08:17Z 'network' registered for diagnostics monitoring service=monitor
[I] 2017-09-11T00:08:17Z 'system' registered for diagnostics monitoring service=monitor
[I] 2017-09-11T00:08:17Z Starting precreation service with check interval of 10m0s, advance period of 30m0s service=shard-precreation
[I] 2017-09-11T00:08:17Z Starting snapshot service service=snapshot
[I] 2017-09-11T00:08:17Z Starting continuous query service service=continuous_querier
[I] 2017-09-11T00:08:17Z Starting HTTP service service=httpd
[I] 2017-09-11T00:08:17Z Authentication enabled:false service=httpd
[I] 2017-09-11T00:08:17Z Listening on HTTP:[::]:8086 service=httpd
[I] 2017-09-11T00:08:17Z Starting retention policy enforcement service with check interval of 30m0s service=retention
[I] 2017-09-11T00:08:17Z Listening for signals
[I] 2017-09-11T00:08:17Z Storing statistics in database '_internal' retention policy 'monitor', at interval 10s service=monitor
[I] 2017-09-11T00:08:17Z Sending usage statistics to usage.influxdata.com
```

I made a local change to revert back to influxdb version v1.1.1 per #1783 to see if that would resolve this issue. InfluxDB definitely starts up just fine after that - everything appears to be running, but in the while I was looking at the grafana logs I saw 

```console
Can't access the Grafana dashboard. Error: Get http://admin:admin@localhost:3000/api/org: dial tcp 198.105.244.23:3000: i/o timeout. Retrying after 5 seconds...
Can't access the Grafana dashboard. Error: Get http://admin:admin@localhost:3000/api/org: dial tcp 198.105.244.23:3000: i/o timeout. Retrying after 5 seconds...
Can't access the Grafana dashboard. Error: Get http://admin:admin@localhost:3000/api/org: dial tcp 198.105.244.23:3000: i/o timeout. Retrying after 5 seconds...
Can't access the Grafana dashboard. Error: Get http://admin:admin@localhost:3000/api/org: dial tcp 198.105.244.23:3000: i/o timeout. Retrying after 5 seconds...
Can't access the Grafana dashboard. Error: Get http://admin:admin@localhost:3000/api/org: dial tcp 198.105.244.23:3000: i/o timeout. Retrying after 5 seconds...
Can't access the Grafana dashboard. Error: Get http://admin:admin@localhost:3000/api/org: dial tcp 198.105.244.23:3000: i/o timeout. Retrying after 5 seconds...
```

Which includes that exact same "from nowhere" address of `198.105.244.23`. I just reverted to Grafana image v4.1.1 and the IP address disappears:

```console
t=2017-09-11T00:40:34+0000 lvl=info msg="Created default admin user: admin"
t=2017-09-11T00:40:34+0000 lvl=info msg="Starting plugin search" logger=plugins
t=2017-09-11T00:40:34+0000 lvl=warn msg="Plugin dir does not exist" logger=plugins dir=/usr/share/grafana/data/plugins
t=2017-09-11T00:40:34+0000 lvl=info msg="Plugin dir created" logger=plugins dir=/usr/share/grafana/data/plugins
t=2017-09-11T00:40:34+0000 lvl=info msg="Initializing CleanUpService" logger=cleanup
t=2017-09-11T00:40:34+0000 lvl=info msg="Initializing Alerting" logger=alerting.engine
t=2017-09-11T00:40:34+0000 lvl=info msg="Initializing Stream Manager"
t=2017-09-11T00:40:34+0000 lvl=info msg="Initializing HTTP Server" logger=http.server address=0.0.0.0:3000 protocol=http subUrl= socket=
Can't access the Grafana dashboard. Error: Get http://admin:admin@localhost:3000/api/org: dial tcp 198.105.244.23:3000: i/o timeout. Retrying after 5 seconds...
```

/cc @piosz 

Perhaps something in the config is triggering autodiscovery of IP address and getting confused?  Maybe we should hard-code the IP address to `0.0.0.0`, since we're in a container anyway.

@DirectXMan12 Does this related with kube-dns?

@andyxning I don't believe so. The address to bind specified in config.toml is `bind-address = "localhost:8088"` (whole file from the 1.3.3 image at https://gist.github.com/heckj/b0aa1f243c1eff766a8bf60a00137fcb).

The address that it attempts to bind to (**`198.105.244.23`**) appears to be unrelated to the cluster at all - and the same address attempts to be used when I use a `docker run` command on the same container image on my laptop without any kubernetes infrastructure around it.

Also of note, there's no "git branch" or release information that's output from the the binary as there had been in previous versions. 

The output from the v1.3.3 image reports:
```console
2017-09-11T00:08:17Z InfluxDB starting, version unknown, branch unknown, commit unknown
```

This pattern matches the output in the v1.1.1 image (gcr.io/google_containers/heapster-influxdb-amd64:v1.1.1)
```console
[run] 2017/09/12 21:39:31 InfluxDB starting, version unknown, branch unknown, commit unknown
[run] 2017/09/12 21:39:31 Go version go1.7.4, GOMAXPROCS set to 2
```

I'm not sure if there should be, but it appears to be the expectation of binary that it might have that detail. 

@piosz @loburm @kawych @x13n can one of you take a look at if something went wrong in the image building process?

@heckj According to the [ipinfo](https://ipinfo.io/198.105.244.23), `198.105.244.23` maybe an ip  from your network provider. 

The reason for why you are running correctly when you just run `influx` without `config.toml` is that the default value for `bind-address` is [`127.0.0.1:8088`](https://docs.influxdata.com/influxdb/v1.3/administration/config#bind-address-127-0-0-1-8088) which is specified in ip:port instead of domain_name:port which needs to do DNS query to turn to ip:port format.

@DirectXMan12 I think we should just uncomment the `bind-address=localhost:8088` line in `config.toml` file and use the default settings for `bind-address`.

AHH! Yeah, that's where the IP address is coming from. I ran "nslookup localhost" on my local machine and:
```console
nslookup localhost
Server:		192.168.0.1
Address:	192.168.0.1#53

Non-authoritative answer:
Name:	localhost.Home
Address: 198.105.244.23
Name:	localhost.Home
Address: 198.105.254.23
```

I suppose a relevant question - should "localhost" have been set to reference something - is that a step that I missed somewhere in setting up my bare-node kubeadm cluster, or should be added?

I'll close my PR on reverting these changes, and I think using the `ip:name` form (or just using the influxdb default listen) makes the most sense if that container doesn't have (or doesn't want to have) an override in /etc/hosts that seems otherwise expected/common.



> is that a step that I missed somewhere in setting up my bare-node kubeadm cluster, or should be added?

I am not familiar with kubeadm. You can ask this in the kubernetes-user mailing list or fire an issue in Kubernetes.

@DirectXMan12 @heckj I have just make an PR about moving `localhost:8088` to `127.0.0.1:8088` for the value of `bind-address`. This can help us avoid DNS problems. :)

> I suppose a relevant question - should "localhost" have been set to reference something - is that a step that I missed somewhere in setting up my bare-node kubeadm cluster, or should be added?

If `localhost` doesn't resolve to a loopback address, you're going to have a bad time with more than just Heapster.  Plus, [RFC 6761 section 6.3](https://tools.ietf.org/html/rfc6761#section-6.3) states

> Users may assume that IPv4 and IPv6 address
> queries for localhost names will always resolve to the respective
> IP loopback address.

Furthermore, there's a draft in place to further solidify this: https://tools.ietf.org/html/draft-west-let-localhost-be-localhost-06.

I'd consider this to be a case of a misconfigured environment, and not anything we should try to work around locally.

@DirectXMan12 Thank you - the local machines onto which I installed Kubernetes *do* have localhost referencing their own respective loopbacks, and the upstream DNS from my network is what is providing the response to 'localhost' at the IP address I ran into.

Since this was happening within a container, would it normally be consider the responsibility of a container to make sure any localhost references were in place, or is this something I should be configuring to make explicit on my base hosts?

I certainly wouldn't have expected the existing behavior. The machines were set up and configured with leveraging `kubeadm`, which did most of the configuration and setup. I'm not certain where I could override the "upstream DNS" to explicitly make a non-response or local-to-the-container response to localhost in the event it was requested like this image does. Where would I set that, or what system should I add configuration to in order to prevent my upstream DNS from providing that crazy response?

For anyone else following down this same track, or seeing the same results, the upstream provider CenturyLink was providing a response through my home DSL link. While I had made DHCP reservations for the machines that made up my cluster, primary DNS was still be passed down from my service provider.

I updated /etc/network/interfaces on my ubuntu hosts to explicitly assert DNS servers 8.8.8.8 and 8.8.4.4 with the following lines:

```console
dns-nameservers 8.8.8.8
dns-nameservers 8.8.4.4
```

And rebooted the systems. By removing the offending nameserver (which was `205.171.3.25` in my case) that was providing an erroneous answer for `localhost`, the images and deployment provided worked correctly and started without issue.

(for future reference, I'd guess that CenturyLink was not returning NXDOMAIN for localhost.  Shame on them ;-) )

Also got this issue because of our company's internal newwork setting.
Since influxdb is wrote by go, it can override config with [environment variable](https://docs.influxdata.com/influxdb/v1.5/administration/config/#environment-variables)
so i resolved it by add a `env` to influxdb.yaml:
```
        env:
        - name: INFLUXDB_BIND_ADDRESS
          value: 127.0.0.1:8088
```

@Itfly Can u tell me where the env to added? It's in Service.spec or Deployment.spec? I added it to this, but got an error 
`error validating "influxdb.yaml": error validating data: ValidationError(Service.spec): unknown field "env" in io.k8s.api.core.v1.ServiceSpec; if you choose to ignore these errors, turn validation off with --validate=false`
`apiVersion: v1
kind: Service
metadata:
  labels:
    task: monitoring
    kubernetes.io/cluster-service: 'true'
    kubernetes.io/name: monitoring-influxdb
  name: monitoring-influxdb
  namespace: kube-system
spec:
  ports:
  - port: 8086
    targetPort: 8086
  selector:
    k8s-app: influxdb
  env:
  - name: INFLUXDB_BIND_ADDRESS
    value: 127.0.0.1:8088`

@qiyongxiao 
You should set the env in your deployment's pod template spec, like this:
```
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: monitoring-influxdb
  namespace: kube-system
spec:
  replicas: 1
  template:
    metadata:
      labels:
        task: monitoring
        k8s-app: influxdb
    spec:
      containers:
      - name: influxdb
        image: k8s.gcr.io/heapster-influxdb-amd64:v1.3.3
        env:
        - name: INFLUXDB_BIND_ADDRESS
          value: 127.0.0.1:8088
        volumeMounts:
        - mountPath: /data
          name: influxdb-storage
      volumes:
      - name: influxdb-storage
        emptyDir: {}
```